/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.records td {
  vertical-align: middle !important;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  min-height: 120px;
  background-color: #dedede;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* navbar fixed */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 95px;
  background: #353535;
  border-bottom: 2px #606060 solid;
  margin-top:-10px;
}

.fixed-nav-bar h2 {
  color: #F0F0F0;
  font-weight: bold;
}

.fixed-nav-bar a {
  color: #2087e0;
}

.content {
  padding-top: 105px;
}